{% extends 'base.html' %}



{% block content %}

<img src="https://images.pexels.com/photos/5473298/pexels-photo-5473298.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
    srcset="https://images.pexels.com/photos/5473298/pexels-photo-5473298.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=150 150w, https://images.pexels.com/photos/5473298/pexels-photo-5473298.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=300 300w, https://images.pexels.com/photos/5473298/pexels-photo-5473298.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=400 400w, https://images.pexels.com/photos/5473298/pexels-photo-5473298.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=600 600w, https://images.pexels.com/photos/5473298/pexels-photo-5473298.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=800 800w, https://images.pexels.com/photos/5473298/pexels-photo-5473298.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1200 1200w, https://images.pexels.com/photos/5473298/pexels-photo-5473298.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1600 1600w">
<hr>
<p style="border: 2px solid black;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi ad minus tempore,
    ipsum dolorum fugit iste, possimus
    porro est autem magnam fugiat dolores illo quos corrupti cum quaerat accusantium quam quo quis, animi numquam
    exercitationem tenetur facere? Dolore obcaecati eveniet harum qui magnam laborum sequi aliquid. Amet obcaecati ipsam
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique unde voluptas consectetur architecto, rerum omnis
    quo ab natus, amet, illo molestias molestiae! Sunt, omnis corporis.</p>


<div class="card-deck">
    <div class="card">
        <img src="https://images.pexels.com/photos/6330644/pexels-photo-6330644.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
            srcset="https://images.pexels.com/photos/6330644/pexels-photo-6330644.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=150 150w, https://images.pexels.com/photos/6330644/pexels-photo-6330644.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=300 300w, https://images.pexels.com/photos/6330644/pexels-photo-6330644.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=400 400w, https://images.pexels.com/photos/6330644/pexels-photo-6330644.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=600 600w, https://images.pexels.com/photos/6330644/pexels-photo-6330644.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=800 800w, https://images.pexels.com/photos/6330644/pexels-photo-6330644.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1200 1200w, https://images.pexels.com/photos/6330644/pexels-photo-6330644.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1600 1600w"
            width="100%">
        <div class="card-body">
            <h5 class="card-title">java developer</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img src="https://images.pexels.com/photos/5380603/pexels-photo-5380603.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
            srcset="https://images.pexels.com/photos/5380603/pexels-photo-5380603.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=150 150w, https://images.pexels.com/photos/5380603/pexels-photo-5380603.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=300 300w, https://images.pexels.com/photos/5380603/pexels-photo-5380603.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=400 400w, https://images.pexels.com/photos/5380603/pexels-photo-5380603.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=600 600w, https://images.pexels.com/photos/5380603/pexels-photo-5380603.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=800 800w, https://images.pexels.com/photos/5380603/pexels-photo-5380603.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1200 1200w, https://images.pexels.com/photos/5380603/pexels-photo-5380603.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1600 1600w"
            width="100%">
        <div class="card-body">
            <h5 class="card-title">python developer</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img src="https://images.pexels.com/photos/5380594/pexels-photo-5380594.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
            srcset="https://images.pexels.com/photos/5380594/pexels-photo-5380594.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=150 150w, https://images.pexels.com/photos/5380594/pexels-photo-5380594.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=300 300w, https://images.pexels.com/photos/5380594/pexels-photo-5380594.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=400 400w, https://images.pexels.com/photos/5380594/pexels-photo-5380594.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=600 600w, https://images.pexels.com/photos/5380594/pexels-photo-5380594.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=800 800w, https://images.pexels.com/photos/5380594/pexels-photo-5380594.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1200 1200w, https://images.pexels.com/photos/5380594/pexels-photo-5380594.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1600 1600w"
            width="100%">
        <div class="card-body">
            <h5 class="card-title">Web Design</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>


{% endblock %}